html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000000;
}

#click-btn {
  display: none;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}

#input-container {
  display: block;
  background-color: #ffffff;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}

label {
  margin: 15px 15px 5px 15px;
}

textarea {
  margin: 5px 15px 15px 15px;
  border-radius: 10px;
  height: 20vh;
  width: 25vw;
}

#send-btn {
  cursor: pointer;
  margin: 10px 15px 10px 130px;
  padding: 6px;
  border-radius: 10px;
  border: none;
  background-color: #00ff00;
  font-size: 16px;
  width: 140px;
}
